body {
    margin: 0;
    font-family: "Inter";
    /*Variablar*/
    --darkest: #050505;
    --darker: #121212;
    --dark: #353535;
    --dark-light: #666;
    --light-dark: #7f7f7f;
    --light: #999;
    --lighter: #e5e5e5;
    --lighest: #f4f4f4;
    --blue: #087fe7;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-1: rgba(0, 0, 0, 0.1);
    --font-53: 53px;
    --font-45: 46px;
    --font-36: 36px;
    --font-26: 26px;
    --font-24: 24px;
    --font-18: 18px;
    --font-15: 15px;
    --font-14: 14px;
    --font-13-5: 13.5px;
    --font-13: 13px;
    --font-12: 12px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf);
}

nav {
    border-bottom: 3px #e5e5e5 solid;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    background-color: white;
}

nav div {
    display: grid;
}

#nav-left {
    grid-template-columns: repeat(6, auto);
    align-items: center;
}

#nav-right {
    grid-template-columns: repeat(4, auto);
}

nav div a {
    justify-self: center;
    padding: 7px;
    margin: 5px;
    text-decoration: none;
    color: #050505;
    font-family: "Inter";
    font-size: 13.5px;
    border-radius: 5px;
    font-weight: 450;
}

nav div a:hover {
    background-color: #f4f4f4;
}

#logo {
    width: 100px;
    margin-right: 10px;
}

.right-nav-items {
    justify-self: center;
    align-self: center;
    margin: 0px 10px;
}

#nav-small-border {
    width: 100%;
    height: 50%;
    align-self: center;
    border-right: var(--lighter) solid 2px;
}

#hamburger {
    display: none;
}

.black-button {
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.black-button:hover {
    background-color: #353535;
}

main {
    max-width: 1000px;
    margin: 150px auto 0px auto;
}

.row-layout {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    font-family: "Inter";
    padding-bottom: 100px;
}

.headers {
    font-size: 53px;
    font-weight: 650;
    margin: 0;
}

#top-header p {
    font-size: 18px;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
}

.paragraphs {
    color:  #7f7f7f;
    line-height: 1.4;
}

#top-header a {
    padding: 10px;
}

#top-image {
    grid-column: 2 / 2;
}

#top-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#companies {
    border-top: #e5e5e5 1.5px solid;
    border-bottom: #e5e5e5 1.5px solid;
    padding: 10px 0px;
}

#top-companies {
    display: grid;
    grid-template-columns: repeat(7, 3fr);
    gap: 20px;
    padding-top: 20px;
    margin: 0px 25px 0px 25px;
}

#bottom-companies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    padding: 20px 0px;
    max-width: 700px;
    margin: auto;
}

.logo-images {
    height: 30px;
    width: 100px;
    justify-self: center;
}

.logo-images img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.service-example {
    margin-top: 100px;
}

.service-ex-header h2 {
    font-size: 36px;
    font-weight: 650;
    margin: 0;
}

.service-ex-header p {
    max-width: 500px;
    font-weight: 450;
}

.service-ex-image {
    width: 100%;
    margin: 50px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.service-ex-image img {
    width: 100%;
    object-fit: cover;
}

.service-ex-sentance {
    font-size: 36px;
    font-weight: 550;
    text-align: center;
    color: #999;
}

.service-ex-quotee {
    display: flex;
    justify-content: center;
}

.service-ex-quotee-inside {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-ex-q-image {
    height: 80px;
    margin: 0px 10px;
    justify-self: center;
    align-self: center;
}

.service-ex-q-image img {
    height: 100%;
    object-fit: cover;
}

.service-ex-q-name h4, .service-ex-q-name p {
    margin: 5px 0px;
}

.service-ex-q-name h4 {
    font-size: 18px;
}

.service-ex-q-name p {
    font-size: 14px;
    font-weight: 450;
    color: #999;
}

#bottom-service-example {
    border-bottom: 3px #e5e5e5 solid;
    padding-bottom: 100px;
}

#free-plan {
    padding-bottom: 100px;
    border-bottom: #e5e5e5 3px solid;
}

#free-plan-header {
    text-align: center;
    margin-top: 100px;
}

#free-plan-header h2, #info-sq-header h2 {
    font-size: 36px;
    margin: 10px 0px;
}

#free-plan-header p {
    font-size: 16px;
    max-width: 500px;
    margin: 0px auto 20px auto;
    color: #666;
}

#free-plan-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 650px;
    margin: 100px auto 0px auto;
    background-color: #f4f4f4;
    padding: 20px 10px;
    border-radius: 10px;
}

.bold {
    color: black;
}

.free-plan-li {
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #7f7f7f;
    font-size: 15px;
    border-bottom: 2px solid #e5e5e5;
}

.check {
    height: 20px;
    align-self: center;
}

#bottom-li {
    border-style: none;
}

#info-squares {
    margin-top: 100px;
}

#info-sq-header {
    text-align: center;
}

#info-sq-content {
    margin: 50px 0px 150px 0px;
    display: flex;
    gap: 10px;
}

.info-sq {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

#info-sq-middle {
    border-right: var(--lighter) solid 2px;
    border-left: var(--lighter) solid 2px;
    padding: 0px 20px;
}

.small-link {
    color: var(--darkest);
}

.small-link:hover {
    color: var(--blue);
    text-decoration-color: var(--dark-light);
}

#dogs-love-us {
    max-width: 900px;
    margin: auto;
}

#padding {
    padding-bottom: 50px;
}

#dogs-love-us h2 {
    text-align: center;
    font-size: var(--font-36);
    margin-bottom: 50px;
}

#dogs-love-h-p h3 {
    margin: 0;
    padding-top: 40px;
    font-size: var(--font-24);
}

#dogs-love-h-p p {
    margin: 10px 0px;
    line-height: 1.4;
    font-size: var(--font-16);
    color: var(--dark);
}

#dogs-love-h-p a {
    color: inherit;
}

#dogs-love-h-p a:hover {
    color: var(--blue);
}

#dogs-love-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#percentages {
    display: flex;
}

.percentages-box {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 10px;
}

.percentages-box h1 {
    color: var(--dark-light);
    font-size: var(--font-53);
    margin: 10px 0px;
}

.percentages-box p {
    margin: 0px;
}

#per-left, #per-mid-left, #per-mid-right {
    border-right: var(--lighter) 2px solid;
}

#before-footer {
    text-align: center;
    margin: 100px 0px;
}

#before-footer h2 {
    margin: 0;
    font-size: var(--font-36);
}

#before-footer p {
    margin: 10px 0px 20px 0px;
}

#foot-border {
    border: 2px solid var(--lighter);
    margin: 50px 20px 75px 20px;
}

footer {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 0px 100px 50px 100px;
}

#footer-logo img {
    width: 150px;
}

#footer-share {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,20px);
    gap: 10px;
    margin-bottom: 50px;
}

#footer-share img {
    height: 20px;
    justify-self: center;
}

.footer-para {
    font-size: var(--font-12);
}

.footer-lists ul {
    list-style: none;
}

.footer-lists li {
    margin-top: 5px;
}

.footer-lists li a {
    text-decoration: none;
    color: var(--light-dark);
    font-size: var(--font-13-5);
}

.footer-lists li a:hover {
    text-decoration: underline;
}

.top-list-item  {
    font-size: var(--font-13-5);
    color: var(--darkest);
    font-weight: 550;
}
/* @media (width >= 601px ) and (width <= 1080px) {
    .row-layout {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #top-image {
        width: 50%;
    }
} */

@media (width <= 600px) {
    .nav-item {
        display: none;
    }

    #hamburger {
        display: inline;
        grid-column: 3 / 3;
        height: 50px;
        width: 50px;
    }

    .row-layout {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #top-image {
        width: 80%;
    }

    nav {
        position: static;
        margin: 0px 20px;
    }

    main {
        margin: 10px 20px;
    }

    #nav-small-border {
        display: none;
    }

    #top-companies {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        margin: 0;
    }

    #codecademy {
        grid-area: 1 / 1 / 1 / span 2;
    }

    #mitsubishi {
        grid-area: 1 / 2 / 1 / span 2;
    }

    #headspace {
        grid-area: 1 / 3 / 1 / span 2;
    }

    #curology {
        grid-area: 2 / 1 / 2 / 1;
    }

    #branch {
        grid-area: 2 / 2 / 2 / 2;
    }

    #match {
        grid-area: 2 / 3 / 2 / 3;
    }

    #mixpanel {
        grid-area: 2 / 4 / 2 / 4;
    }
    
    .logo-images img {
        width: 110px;
    }

    #bottom-companies {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        margin: 0px 15px;
    }

    #toyota {
        grid-area: 2 / 2 / 2 / 2;
    }

    #discord {
        grid-area: 2 / 3 / 2 / 3;
    }

    .service-ex-header {
        text-align: center;
    }

    .service-ex-header h2 {
        font-size: var(--font-36);
    }

    .service-ex-sentance p {
        font-size: var(--font-26);
    }
}